<div class="lot-container">
          <div class="container">
            <div class="row">
              <div class="col-xs-12">
                <div ng-init="storeLot(&quot;dcf6cbbbefc42f86439caaf3eb5d1530&quot;, 1, &quot;{\&quot;sort\&quot;:\&quot;datesale_asc\&quot;,\&quot;ipp\&quot;:\&quot;500\&quot;,\&quot;nbd\&quot;:\&quot;5\&quot;,\&quot;estimation_idcurrency\&quot;:\&quot;154\&quot;,\&quot;price_idcurrency\&quot;:\&quot;154\&quot;,\&quot;cl\&quot;:0,\&quot;idartist\&quot;:\&quot;172632\&quot;}&quot;, 18435000, &quot;/artist/172632/guoqiang-cai/drawing-watercolor/18435000/gunpowder-drawing-no8-32&quot;)">
                  


<div class="lot first col-xs-12 ">
  <div class="row">
    <div class="col-xs-4 col-sm-2 text-center lot-images-container">
      <p class="hidden-xs">
        Lot #
          312
      </p>

          <div class="owl-small-images">
            <div class="owl-item owl-item-alone">
              <div>
                <div class="col-xs-12">
                  <a ng-click="send_aa_event_now('artist_past_lots_search', 'select_lot_position', 'image', {eventValue: 443})" class="lot_detail_18435000" href="/artist/172632/guoqiang-cai/drawing-watercolor/18435000/gunpowder-drawing-no8-32"><img class="shadow" alt="gunpowder drawing no8-32" src="https://imgprivate2-artprice-com.ezproxy.sothebysinstitute.com/lots/MTI0MjM1MjQ0ODQyNzA4OTQyLQ==/OTk4MzMzNzQ1NDcxODM4NDcxLQ==/MjkwNTc4NTAzNzM2MDIxNzI1NC0=/MzQ5MzE1NDAwNTMyNDYyMTM0NS0=/sml"></a>
                </div>
                  <a title="Zoom in" ng-click="open_reproduction(18435000) ; send_aa_event_now('artist_past_lots_search', 'select_lot_position', 'zoom', {eventValue: 443})" class="col-xs-12 marg marg-t-10 img-zoomer"><i class="fa fa-search-plus marg marg-r-5" aria-hidden="true"></i>Zoom in</a>
              </div>
            </div>

          </div>


    </div>
    <div class="col-xs-8 col-sm-6">
      <p>
          <i><a id="sln_18435000" class="sln_lot_show" href="/artist/172632/guoqiang-cai/drawing-watercolor/18435000/gunpowder-drawing-no8-32" title="Gunpowder Drawing No.8-32" ng-click="send_aa_event_now('artist_past_lots_search', 'select_lot_position', 'title', {eventValue: 443})">
            Gunpowder Drawing No.8-32
            
          </a></i>
          <date>
            (1988)
          </date>
      </p>
      <p>
        Drawing-Watercolor, Gun Powder, <span ng-show="unite_to == 'in'" class="ng-hide">3 3/4 x 5 5/8 in</span><span ng-show="unite_to == 'cm'">9.5 x 14.3 cm</span>
      </p>
        <p>
            Estimate:
            <span ng-show="currency == 'EUR'">
              € 7,946 - € 11,919
                  </span>
            <span ng-show="currency == 'USD'" class="ng-hide">
              $ 8,934 - $ 13,401
                  </span>
            <span ng-show="currency == 'GBP'" class="ng-hide">
              £ 6,874 - £ 10,311
                  </span>
            <span ng-show="currency == 'CNY'" class="ng-hide">
              RMB 59,900 - RMB 89,850
                  </span>
          </p>
        <p>
            <strong>
              Hammer price:
              <span ng-show="currency == 'EUR'">€ 7,946</span>
              <span ng-show="currency == 'USD'" class="ng-hide">$ 8,934</span>
              <span ng-show="currency == 'GBP'" class="ng-hide">£ 6,874</span>
              <span ng-show="currency == 'CNY'" class="ng-hide">RMB 59,900</span>
              
              <!-- ngIf: lotWithIndicator(18435000) -->
              
            </strong>
        </p>

      <p class="visible-xs">


          <strong>
              Mainichi Auction Inc.
          </strong>
          ,
          20 Apr 2019

      </p>

        <p class="visible-xs">
          Japan
        </p>
    </div>

    <div class="col-xs-8 col-xs-offset-4 col-sm-4 col-sm-offset-0 hidden-xs">
      <p>

          <strong>
              Mainichi Auction Inc.
          </strong>
          ,
          20 Apr 2019

      </p>

        <p>
          Japan
        </p>
    </div>
  </div>
</div>



                </div>
              </div>
            </div>
          </div>
        </div>
